h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 6vh;
}

.city {
    font-family: 'Ubuntu', sans-serif;
}

img {
    width: 3vw;
    height: 3vh;
}

img.icon {
    width: 5vw;
    height: 10vh;
}

img.nicon {
    width: 2vw;
    height: 5vh;
}

/* class is needed to render busy cursos during ajax calls */
body.wait *, body.wait
{
    /* important to overwrite any other potential cursos manipulations*/
    cursor: wait !important;
}



