h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 6vh;
}

.city {
    font-family: 'Ubuntu', sans-serif;
}

img {
    width: 3vw;
    height: 3vh;
}


body.wait *, body.wait
{
    cursor: progress !important;
}



